<div class="header mt-5">

    <div class="navLeft" id="navLeft" style="white-space:nowrap">
        <div>
            <img src="../../pictures/logobg.png" style="max-width:120px;transform: translate(39px, 6px);position: fixed;z-index: 4;">
        </div>
        <div>
            <h1 onclick="window.location.href='/dashboard'" style="position: fixed; font-family: 'Great Vibes', cursive!important; font-size:4em;z-index: 5;">Celebration<br>Card</h1>
        </div>
        <div style="padding: 3em 12em 6em 2em;"></div>
    </div>
    <div class="navCenter ">

        <% if(typeof user!="object" ) { %>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        <% } %>
        <% if (typeof user=="object" && user._id == "6291085b97cb8135d0aff59c" ) { %>
            <a href="/messages" class="btn btn-secondary btn-block mb-2" id="logout"
                style="white-space: nowrap">Messages</a>
            <a href="/product_manager" class="btn btn-secondary btn-block mb-2" id="logout"
                style="white-space: nowrap">Product Manager</a>
            <a href="/orders_manager" class="btn btn-secondary btn-block mb-2" id="logout"
                style="white-space: nowrap">Orders Manager</a>
        <% } %>

        <% if (typeof user=="object" && user._id != "6291085b97cb8135d0aff59c" ) { %>
            <a href="/dashboard" class="btn btn-secondary btn-block">Home</a>
            <a href="/products" class="btn btn-secondary btn-block">Products</a>
            <a href="/myprofile" class="btn btn-secondary btn-block">MyProfile</a>
        <% } %>
        <% if(typeof user!="object" ) { %>            
            <a href="/products" class="btn btn-secondary btn-block">Products</a>
        <% } %>
        <% if(typeof user=="object" ) { %>
            <a href="/users/logout" class="btn btn-secondary btn-block mb-2" id="logout">Logout</a>
        <% } %>
        <% if(typeof user=="object"){%>
        <a href="/basket" class="btn btn-success btn-block mr-2" style="white-space:nowrap;">Basket</a>
        <%}%>
    </div>

    <div class="navRight">
        <% if (typeof user=="object" ) { %>
            <% if ( user._id != "6291085b97cb8135d0aff59c" ) { %>
                <a href="/contact" class="btn btn-secondary btn-block">Contact</a>
                <% } } else { %>
                    <a href="/contact" class="btn btn-secondary btn-block">Contact</a>
                    <% } %>
    </div>













</div>