<header>
    <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" viewBox="0 0 512 512" style="overflow: visible;    box-shadow: 2px 2px 2px 2px;
    border-radius: 50%;">
        <rect data-uid="o_f6c5in30d_4" data-fl-background="" x="0" y="0" width="512" height="512" fill="transparent" >
        </rect>
        <g data-icon="" style="transform: scale(1);"
            transform="matrix(0.3882193805080256, 0, 0, 0.3882193805080256, 154.94332371454107, 138.9150143861447)"
            data-uid="o_f6c5in30d_5">
            <path
                d="m256.829 11.001c1.892.006 3.78.034 5.662.083 6.334.165 46.447 16.127 46.508 31.922.002.665-21.999 246.994-245.642 245.957-11.735-.054-23.276-.885-34.568-2.511-9.657-1.39-17.087-9.361-17.531-19.108-.189-4.144-.275-8.315-.255-12.51.631-135.623 110.202-244.282 245.826-243.833z"
                fill="#012d4e" data-uid="o_f6c5in30d_6"></path>
            <path
                d="m256 501c-133.653 0-242.31-107.021-244.951-240.042.018-.92.04-1.838.068-2.756 1.263-42.046 43.272-70.022 83.061-56.374 11.36 3.897 23.565 5.974 36.267 5.884 59.071-.419 107.534-48.428 108.479-107.493.232-14.471-2.35-28.312-7.234-41.01-8.641-22.466 7.208-46.546 30.8-48.124 132.31 3.44 238.51 111.775 238.51 244.915 0 135.31-109.69 245-245 245z"
                fill="#ade8f0" data-uid="o_f6c5in30d_7"></path>
            <path
                d="m500.952 251.113c.032 1.625.048 3.254.048 4.887 0 135.31-109.69 245-245 245-133.653 0-242.31-107.021-244.951-240.042.018-.92.04-1.838.068-2.756.397-13.208 4.814-25.026 11.92-34.604 18.547 116.93 119.816 219.402 241.963 219.402 112.371 0 223-77.853 235.952-191.887z"
                fill="#acd1fd" data-uid="o_f6c5in30d_8"></path>
            <path
                d="m170 395c0 30.507-18.215 56.76-44.362 68.477-41.189-25.935-74.114-63.795-93.927-108.736 13.314-20.887 36.684-34.741 63.289-34.741 41.421 0 75 33.579 75 75z"
                fill="#fde803" data-uid="o_f6c5in30d_9"></path>
            <path
                d="m65.679 410.294c-13.651-16.817-25.117-35.479-33.968-55.554 13.314-20.886 36.684-34.74 63.289-34.74 7.677 0 15.084 1.154 22.059 3.297-30.656 9.42-52.941 37.959-52.941 71.703 0 5.241.538 10.356 1.561 15.294zm-10.131 4.148c-16.764-2.679-22.121-14.442-37.27-14.442-.232 0-.463.002-.694.007-23.445.51-23.445 35.813 0 36.323.231.005.462.008.694.008 12.993 0 35.6-11.639 37.27-21.896zm-4.97 72.699c0 .316.003.63.01.944.694 31.887 48.708 31.887 49.401 0 .007-.313.01-.628.01-.944 0-20.603-15.999-27.889-19.642-50.689-13.949 2.272-29.779 33.018-29.779 50.689z"
                fill="#f5c02c" data-uid="o_f6c5in30d_10"></path>
            <path
                d="m79 476c8.284 0 15 6.716 15 15s-6.716 15-15 15-15-6.716-15-15 6.716-15 15-15zm-73.667-61.5c0 5.523 4.477 10 10 10s10-4.477 10-10-4.477-10-10-10-10 4.477-10 10z"
                fill="#fde803" data-uid="o_f6c5in30d_11"></path>
            <path
                d="m400 430c0 9.752-1.745 19.096-4.94 27.738-33.099 22.859-72.099 37.782-114.25 42.021-24.358-13.714-40.81-39.815-40.81-69.759 0-44.183 35.817-80 80-80s80 35.817 80 80z"
                fill="#fd4343" data-uid="o_f6c5in30d_12"></path>
            <path
                d="m287.059 430c0 25.646 12.069 48.474 30.836 63.114-12.027 3.131-24.414 5.371-37.085 6.645-24.358-13.713-40.81-39.815-40.81-69.759 0-44.183 35.817-80 80-80 8.189 0 16.09 1.23 23.529 3.517-32.699 10.047-56.47 40.489-56.47 76.483z"
                fill="#e43950" data-uid="o_f6c5in30d_13"></path>
            <path d="m420 230c33.137 0 60 26.863 60 60s-26.863 60-60 60-60-26.863-60-60 26.863-60 60-60z" fill="#0ab59e"
                data-uid="o_f6c5in30d_14"></path>
            <path
                d="m437.647 347.363c-5.579 1.714-11.505 2.637-17.647 2.637-33.137 0-60-26.863-60-60s26.863-60 60-60c6.142 0 12.068.923 17.647 2.637-24.525 7.536-42.353 30.367-42.353 57.363s17.828 49.827 42.353 57.363z"
                fill="#01988c" data-uid="o_f6c5in30d_15"></path>
            <path d="m410 120c22.091 0 40 17.909 40 40s-17.909 40-40 40-40-17.909-40-40 17.909-40 40-40z" fill="#00429a"
                data-uid="o_f6c5in30d_16"></path>
            <path
                d="m421.765 198.242c-3.72 1.143-7.67 1.758-11.765 1.758-22.091 0-40-17.909-40-40s17.909-40 40-40c4.094 0 8.045.615 11.765 1.758-16.35 5.024-28.235 20.245-28.235 38.242s11.885 33.218 28.235 38.242z"
                fill="#012d4e" data-uid="o_f6c5in30d_17"></path>
            <path
                d="m249.945 289.383-27.328-27.328 185.338-239.512c21.421-27.683 62.277-30.277 87.028-5.526 24.751 24.751 22.156 65.607-5.526 87.028z"
                fill="#d98800" data-uid="o_f6c5in30d_18"></path>
            <path
                d="m489.457 104.045-238.969 184.918-13.496-16.422 207.774-220.331c16.975-18.001 42.394-22.58 63.687-14.167 8.416 22.936 1.766 49.935-18.996 66.002z"
                fill="#f4aa39" data-uid="o_f6c5in30d_19"></path>
            <path
                d="m87.101 410.295c-2.076-1.114-2.676-3.816-1.345-5.761 35.969-52.571 19.802-98.986 60.971-140.155.644-.644 1.293-1.279 1.947-1.906 66.512-63.68 164.532 34.34 100.852 100.852-.626.654-1.261 1.303-1.906 1.947-34.793 34.795-124.481 64.358-160.519 45.023z"
                fill="#d63d24" data-uid="o_f6c5in30d_20"></path>
            <path
                d="m100.455 414.891c19.93-34.503 24.7-68.457 61.282-93.192.755-.51 1.513-1.011 2.274-1.501 40.165-25.902 80.399-7.425 99.305 23.783-3.286 6.619-7.829 13.12-13.789 19.345-.626.654-1.262 1.303-1.906 1.948-31.053 31.051-105.826 57.936-147.166 49.617z"
                fill="#ef5300" data-uid="o_f6c5in30d_21"></path>
            <path
                d="m278.967 269.251c5.358 5.358 5.358 14.045 0 19.403s-14.045 5.358-19.403 0l-36.218-36.218c-5.358-5.358-5.358-14.045 0-19.403s14.045-5.358 19.403 0l1.311 1.312 44.014-56.879 46.461 46.46-56.88 44.015z"
                fill="#3180c2" data-uid="o_f6c5in30d_22"></path>
            <path
                d="m278.486 289.112c-5.464 4.972-13.973 4.492-19.196-.732l-18.204-18.204c-5.154-5.154-5.716-13.525-.91-19.005 4.882-5.567 13.09-6.182 18.707-1.844l1.328 1.169c5.358 5.358 14.045 5.358 19.403 0 5.358-5.358 5.358-14.045 0-19.403-1.014-1.014-1.038-2.649-.054-3.692l28.368-30.082 26.608 26.608-56.88 44.014 1.311 1.311c5.513 5.513 5.353 14.552-.481 19.86z"
                fill="#75a5d3" data-uid="o_f6c5in30d_23"></path>
        </g>
        <path text-anchor="middle" offset="0.5" style="transform: translate(262px, 340px) scale(1.8);
    fill: salmon;
    stroke: black;
    stroke-width: 1px;" space="preserve" font-scale="contain" font-size="48" font-family="Croissant One"
            text="Happy Cards" font-style="normal" font-weight="400" data-fl-textpath=""
            transform="matrix(1.5528798437088254, 0, 0, 1.5528798437088254, 254.51078879856485, 428.24736649241856)"
            data-uid="o_f6c5in30d_24"
            d="M-131.736-31.68L-134.61599999999999-31.68L-134.61599999999999-1.92L-131.736-1.92L-131.736 0L-144.696 0L-144.696-1.92L-141.816-1.92L-141.816-13.1L-153.816-13.1L-153.816-1.92L-150.936-1.92L-150.936 0L-163.896 0L-163.896-1.92L-161.016-1.92L-161.016-31.68L-163.896-31.68L-163.896-33.6L-150.936-33.6L-150.936-31.68L-153.816-31.68L-153.816-15.26L-141.816-15.26L-141.816-31.68L-144.696-31.68L-144.696-33.6L-131.736-33.6L-131.736-31.68ZM-106.916-24L-99.71600000000001-24L-99.71600000000001-5.33Q-99.71600000000001-4.03 -99.096-3.29Q-98.476-2.54 -97.176-2.54Q-95.876-2.54 -94.196-3.94L-94.196-3.94L-93.33600000000001-2.78Q-97.176 0.72 -101.016 0.72L-101.016 0.72Q-105.57600000000001 0.72 -106.63600000000001-3.55L-106.63600000000001-3.55Q-109.126 0.72 -113.976 0.72L-113.976 0.72Q-119.49600000000001 0.72 -122.376-2.86Q-125.256-6.43 -125.256-11.98Q-125.256-17.52 -122.156-21.12Q-119.066-24.72 -113.49600000000001-24.72L-113.49600000000001-24.72Q-109.226-24.72 -106.916-21.31L-106.916-21.31L-106.916-24ZM-116.476-19.3Q-117.816-16.61 -117.816-12Q-117.816-7.39 -116.476-4.7Q-115.126-2.02 -112.366-2.02Q-109.60600000000001-2.02 -108.146-4.73Q-106.676-7.44 -106.676-12Q-106.676-16.56 -108.146-19.27Q-109.60600000000001-21.98 -112.366-21.98Q-115.126-21.98 -116.476-19.3ZM-88.346-24L-88.346-24Q-83.926-24 -80.71600000000001-21.55L-80.71600000000001-21.55Q-78.16600000000001-24.72 -74.08600000000001-24.72L-74.08600000000001-24.72Q-68.566-24.72 -65.686-21.14Q-62.80600000000001-17.57 -62.80600000000001-12.02Q-62.80600000000001-6.48 -65.906-2.88Q-68.99600000000001 0.72 -74.566 0.72L-74.566 0.72Q-78.69600000000001 0.72 -81.146-2.98L-81.146-2.98L-81.146 12L-88.346 12L-88.346-22.08Q-90.506-22.08 -92.186-21.36L-92.186-21.36L-92.85600000000001-23.14Q-90.796-24 -88.346-24ZM-71.596-4.7Q-70.24600000000001-7.39 -70.24600000000001-12Q-70.24600000000001-16.61 -71.596-19.3Q-72.936-21.98 -75.696-21.98Q-78.456-21.98 -79.91600000000001-19.27Q-81.38600000000001-16.56 -81.38600000000001-12Q-81.38600000000001-7.44 -79.91600000000001-4.73Q-78.456-2.02 -75.696-2.02Q-72.936-2.02 -71.596-4.7ZM-53.738-24L-53.738-24Q-49.318000000000005-24 -46.108000000000004-21.55L-46.108000000000004-21.55Q-43.55800000000001-24.72 -39.478-24.72L-39.478-24.72Q-33.958-24.72 -31.078000000000003-21.14Q-28.198000000000004-17.57 -28.198000000000004-12.02Q-28.198000000000004-6.48 -31.298000000000002-2.88Q-34.388000000000005 0.72 -39.958 0.72L-39.958 0.72Q-44.088 0.72 -46.538000000000004-2.98L-46.538000000000004-2.98L-46.538000000000004 12L-53.738 12L-53.738-22.08Q-55.898-22.08 -57.578-21.36L-57.578-21.36L-58.248000000000005-23.14Q-56.188-24 -53.738-24ZM-36.988-4.7Q-35.638000000000005-7.39 -35.638000000000005-12Q-35.638000000000005-16.61 -36.988-19.3Q-38.328-21.98 -41.088-21.98Q-43.848-21.98 -45.308-19.27Q-46.778000000000006-16.56 -46.778000000000006-12Q-46.778000000000006-7.44 -45.308-4.73Q-43.848-2.02 -41.088-2.02Q-38.328-2.02 -36.988-4.7ZM-24.459999999999997-21.55Q-23.06-22.99 -20.93-23.86Q-18.79-24.72 -16.699999999999996-24.72Q-14.619999999999997-24.72 -13.269999999999998-23.88Q-11.929999999999998-23.04 -11.929999999999998-21.79L-11.929999999999998-21.79L-11.929999999999998-7.25Q-11.929999999999998-5.71 -10.969999999999999-4.92Q-10.009999999999998-4.13 -8.569999999999997-4.13L-8.569999999999997-4.13Q-5.5-4.13 -3.3099999999999987-6.77Q-1.129999999999999-9.41 -1.129999999999999-13.54L-1.129999999999999-13.54Q-1.129999999999999-15.84 -2.039999999999999-18.38L-2.039999999999999-18.38Q-2.8999999999999986-17.81 -4.25-17.81Q-5.59-17.81 -6.669999999999998-18.89Q-7.75-19.97 -7.75-21.5Q-7.75-23.04 -6.669999999999998-24.12Q-5.59-25.2 -3.9599999999999973-25.2Q-2.3299999999999983-25.2 -1.1499999999999986-23.98Q 0.020000000000003126-22.75  0.5500000000000007-20.74L 0.5500000000000007-20.74Q 1.4200000000000017-17.23  1.4200000000000017-12.98Q 1.4200000000000017-8.74  0.43000000000000327-4.46Q-0.5499999999999972-0.19 -2.1599999999999966 2.88Q-3.7699999999999996 5.95 -5.779999999999998 8.21L-5.779999999999998 8.21Q-9.909999999999998 12.72 -14.179999999999998 12.72L-14.179999999999998 12.72Q-15.339999999999998 12.72 -16.08 12.22Q-16.82 11.71 -17.779999999999998 10.37L-17.779999999999998 10.37L-20.279999999999998 6.91L-19.029999999999998 5.62Q-16.729999999999997 6 -14.999999999999998 6L-14.999999999999998 6Q-9.619999999999997 6 -6.219999999999999 2.59Q-2.8099999999999987-0.82 -0.8399999999999999-8.5L-0.8399999999999999-8.5Q-3.8199999999999967-0.24 -11.779999999999998-0.24L-11.779999999999998-0.24Q-14.859999999999998-0.24 -16.99-2.33Q-19.13-4.42 -19.13-8.26L-19.13-8.26L-19.13-22.42Q-21.77-21.74 -23.159999999999997-20.06L-23.159999999999997-20.06L-24.459999999999997-21.55ZM 37.756-32.06L 37.756-32.06Q 33.57600000000001-32.06  31.416000000000004-27.77Q 29.256000000000004-23.47  29.256000000000004-17.04Q 29.256000000000004-10.61  31.536-6.53Q 33.816-2.45  38.086000000000006-2.45L 38.086000000000006-2.45Q 40.486000000000004-2.45  42.506-3.46Q 44.516000000000005-4.46  45.556000000000004-5.57Q 46.586000000000006-6.67  47.736000000000004-8.35L 47.736000000000004-8.35L 49.416000000000004-7.15Q 47.116-3.46  44.256-1.37Q 41.396 0.72  36.93600000000001 0.72L 36.93600000000001 0.72Q 30.266000000000005 0.72  26.036000000000005-4.32Q 21.816000000000003-9.36  21.816000000000003-16.85Q 21.816000000000003-24.34  26.036000000000005-29.33Q 30.266000000000005-34.32  37.756-34.32L 37.756-34.32Q 41.636-34.32  45.236000000000004-32.78Q 48.836000000000006-31.25  48.836000000000006-29.14L 48.836000000000006-29.14Q 48.836000000000006-28.32  48.316-27.26L 48.316-27.26L 45.43600000000001-21.7L 43.706-22.22L 44.136-25.2Q 44.32600000000001-26.35  44.32600000000001-27.41L 44.32600000000001-27.41Q 44.32600000000001-29.28  42.506-30.67Q 40.676-32.06  37.756-32.06ZM 72.07600000000001-24L 79.27600000000001-24L 79.27600000000001-5.33Q 79.27600000000001-4.03  79.89600000000002-3.29Q 80.516-2.54  81.816-2.54Q 83.11600000000001-2.54  84.796-3.94L 84.796-3.94L 85.656-2.78Q 81.816 0.72  77.976 0.72L 77.976 0.72Q 73.41600000000001 0.72  72.35600000000001-3.55L 72.35600000000001-3.55Q 69.86600000000001 0.72  65.016 0.72L 65.016 0.72Q 59.49600000000001 0.72  56.61600000000001-2.86Q 53.736000000000004-6.43  53.736000000000004-11.98Q 53.736000000000004-17.52  56.836000000000006-21.12Q 59.92600000000001-24.72  65.49600000000001-24.72L 65.49600000000001-24.72Q 69.766-24.72  72.07600000000001-21.31L 72.07600000000001-21.31L 72.07600000000001-24ZM 62.516000000000005-19.3Q 61.17600000000001-16.61  61.17600000000001-12Q 61.17600000000001-7.39  62.516000000000005-4.7Q 63.86600000000001-2.02  66.626-2.02Q 69.38600000000001-2.02  70.846-4.73Q 72.316-7.44  72.316-12Q 72.316-16.56  70.846-19.27Q 69.38600000000001-21.98  66.626-21.98Q 63.86600000000001-21.98  62.516000000000005-19.3ZM 103.556-24.72L 103.556-24.72Q 104.996-24.72  104.996-21.98L 104.996-21.98L 104.996-5.33Q 104.996-4.03  105.626-3.29Q 106.246-2.54  107.54599999999999-2.54Q 108.836-2.54  110.51599999999999-3.94L 110.51599999999999-3.94L 111.386-2.78Q 107.54599999999999 0.72  103.706 0.72L 103.706 0.72Q 97.79599999999999 0.72  97.79599999999999-6.34L 97.79599999999999-6.34L 97.79599999999999-19.82Q 95.54599999999999-18.91  92.326-18.58L 92.326-18.58Q 91.946-14.16  89.786-9.74L 89.786-9.74L 87.816-10.32Q 89.15599999999999-13.73  89.256-18.43L 89.256-18.43Q 87.43599999999999-18.43  86.306-19.49Q 85.176-20.54  85.176-22.1Q 85.176-23.66  86.256-24.74Q 87.336-25.82  88.896-25.82Q 90.456-25.82  91.51599999999999-24.72Q 92.566-23.62  92.566-21.89L 92.566-21.89L 93.476-21.89Q 97.276-21.89  101.54599999999999-24L 101.54599999999999-24Q 102.93599999999999-24.72  103.556-24.72ZM 139.084-33.79L 139.084-33.79L 139.084-5.33Q 139.084-4.03  139.704-3.29Q 140.324-2.54  141.50400000000002-2.54Q 142.684-2.54  144.364-3.94L 144.364-3.94L 145.464-2.78Q 141.624 0.72  137.784 0.72L 137.784 0.72Q 133.22400000000002 0.72  132.16400000000002-3.55L 132.16400000000002-3.55Q 129.674 0.72  124.82400000000001 0.72L 124.82400000000001 0.72Q 119.304 0.72  116.424-2.86Q 113.54400000000001-6.43  113.54400000000001-11.98Q 113.54400000000001-17.52  116.644-21.12Q 119.73400000000001-24.72  125.304-24.72L 125.304-24.72Q 129.574-24.72  131.88400000000001-21.31L 131.88400000000001-21.31L 131.88400000000001-34.42Q 129.244-33.74  127.84400000000001-32.06L 127.84400000000001-32.06L 126.554-33.55Q 127.944-34.99  130.084-35.86Q 132.214-36.72  134.304-36.72Q 136.394-36.72  137.734-35.88Q 139.084-35.04  139.084-33.79ZM 122.32400000000001-19.3Q 120.98400000000001-16.61  120.98400000000001-12Q 120.98400000000001-7.39  122.32400000000001-4.7Q 123.674-2.02  126.43400000000001-2.02Q 129.19400000000002-2.02  130.654-4.73Q 132.124-7.44  132.124-12Q 132.124-16.56  130.654-19.27Q 129.19400000000002-21.98  126.43400000000001-21.98Q 123.674-21.98  122.32400000000001-19.3ZM 152.90400000000002-20.06L 152.90400000000002-20.06Q 151.75400000000002-21.84  151.75400000000002-23.23Q 151.75400000000002-24.62  152.83400000000003-25.7Q 153.91400000000002-26.78  155.44400000000002-26.78Q 156.984-26.78  158.06400000000002-25.7Q 159.144-24.62  159.144-23.14Q 159.144-21.65  157.65400000000002-19.97L 157.65400000000002-19.97Q 161.59400000000002-17.09  163.704-14.33Q 165.81400000000002-11.57  165.81400000000002-7.94Q 165.81400000000002-4.32  163.084-1.8Q 160.34400000000002 0.72  155.30400000000003 0.72L 155.30400000000003 0.72Q 153.00400000000002 0.72  150.674-0.29Q 148.34400000000002-1.3  147.144-2.78L 147.144-2.78L 148.24400000000003-3.94Q 150.36400000000003-2.26  152.80400000000003-2.26Q 155.25400000000002-2.26  156.81400000000002-3.58Q 158.37400000000002-4.9  158.37400000000002-7.68L 158.37400000000002-7.68Q 158.37400000000002-12.1  155.11400000000003-16.9L 155.11400000000003-16.9L 147.86400000000003-7.82L 146.66400000000002-8.88Q 150.31400000000002-14.78  152.90400000000002-20.06Z">
        </path>
    </svg>
    <ul id="navbr">
        <li class="desktopView"><a class="navElement" href="/" >Home</a></li>
        <li class="desktopView"><a class="navElement" href="/Products">Products</a></li><!-- logged or not, let user view button but if not logged, send him to the login page -->
        <li class="desktopView"><a class="navElement" href="/Contact">Contact</a></li>

        <!-- if user is logged -->
        <% if(typeof user !== "undefined") {%>
        <li class="desktopView"><a class="navElement" href="/Basket">Basket <% if(typeof basketLength == "number"){ %><span id="basketLength"><%=basketLength%></span><%}%></a></li>
        <li class="desktopView"><a class="navElement" href="/Profile">Profile</a></li>
        <li class="desktopView"><a class="navElement" href="/Logout" id="logout">Logout</a></li>
        <%}%>
        
        <% if(typeof user == "undefined") {%>
        <!-- if user is not logged -->
        <li class="desktopView"><a class="navElement" href="/Register">Register</a></li>
        <li class="desktopView"><a class="navElement" href="/Login">Login</a></li>
        <%}%>


        <div class="mobileView dropdown ">
            <li class="mobileView dropbtn" title="Menu">
                <p><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-menu-up" viewBox="0 0 16 16">
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                  </svg></p>
            </li>
            <div class="dropdown-content">
                <a class="navElement" href="/">Home</a>
                <a class="navElement" href="/Products">Products</a>
                <a class="navElement" href="/Contact">Contact</a>
            </div>
        </div>

        <% if(typeof user !== "undefined") {%>
        <li class="mobileView" title="Basket"><a class="" href="/Basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-basket" viewBox="0 0 16 16">
            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </a>
    </li>
        <li class="mobileView" title="Profile"><a class="" href="/Profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
          </svg>
        </a>
    </li>
        <li class="mobileView" title="Logout"><a class="" href="/Logout" id="logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-door-closed" viewBox="0 0 16 16">
            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
          </svg>
        </a>
    </li>
        <%}%>

        <% if(typeof user == "undefined") {%>
        <li class="mobileView" title="Register">
            <a class="" href="/Register">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-person-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                  </svg>
            </a>
        </li>
        <li class="mobileView" title="Login">
            <a class="" href="/Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="dodgerblue" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </a>
        </li>
        <%}%>


    </ul>
</header>